<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiztaker">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity android:name=".Dashboard" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".AdminDashboard" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".TimeLimit" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".RegisterStudents" android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".MainActivity" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".QuizInProgress" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".TakeQuizDisplay" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".QuizResults" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".GradeReportOption" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".VariableGradeReport" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".AdminResults" android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".QuizQuestion" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".Signup" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".QuizCategory" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".CreateQuiz" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".SplashScreen" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>